/*  Copyright 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 0;
}

#everything {
    min-width: 1280px;
    min-height: 500px;
    width: 100%;
    height: calc(100% - 50px);
    background: #DDD;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #222;
}

#sidebar {
    padding-top: 25px;
    height:calc(100% - 25px);
    width:20%;
    float: left;
    background: #333;
    overflow: hidden;
}

#notSidebar {
    padding-top: 10px;
    height:calc(100% - 10px);
    width:80%;
    float: left;
}

#loadBar {
    height:40px;
    width:100%;
    margin:auto;
}

#editor {
    height:calc(100% - 40px);
    width:100%;
    text-align: cente;
}

#container {
    height: 100%;
    overflow-y: scroll;
}

#notesBox {
    height: 80%;
    width: 80%;
    margin: 5% solid transparent;
}

#segmentTag {
    overflow-y: scroll;
}

#segmentQuote {
    overflow-y: scroll;
}

#buttonLoad {
    visibility:visible;
    float:left;
    margin-left: 10px;
}
#buttonSave {
    visibility:hidden;
    float:right;
    margin-right: 10px;
}

.sidebarFolder{
    font-size: 18px;
    color: #6FF;
}

.sidebarFile{
    font-size: 18px;
    color: #8FF;
}

.pathHeader{
    font-size: 18px;
    color: #6AF;
    font-weight: bold;
}

.pathActual{
    font-size: 18px;
    color: #8BF;
    font-weight: bold;
}

.loadNotice{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.segmentHeader{
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

.thirdHSegment {
    width: 33.3%;
    height:100%;
    float: left;
    display: inline-block;
}

.halfVSegment {
    width: 100%;
    height:50%;
}

.preview {
    margin: 10px;
    width: calc(95% - 20px);
    height: 65%;
}

.timeElement {
    padding-top: 30px;
}

.inputText {
    width: 90%;
}

.inputTime {
    width: 10%;
}

.inputDesc{
    font-size: 12px;
    color: #111;
}

.isTimedCheckbox {
    margin-right: 10%;
}