/*  Copyright 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    text-align: center;
    border: 0;
}

li {
    list-style-position: outside;
    font-size: 16px;
}

#everything {
    min-width: 1280px;
    min-height: 500px;
    width: 100%;
    height: calc(100% - 50px);
    background: #DDD;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #222;
}

#sidebar {
    padding-top: 25px;
    height:calc(100% - 25px);
    width:20%;
    float: left;
    background: #333;
    overflow: hidden;
}

#notSidebar {
    padding-top: 10px;
    height:calc(100% - 10px);
    width:80%;
    float: left;
}

#loadBar {
    height:40px;
    width:100%;
    margin:auto;
}

#results {
    height:calc(100% - 40px);
    width:100%;
    text-align: left;
    overflow-y: scroll;
}

#editor {
    height:calc(100% - 40px);
    width:100%;
    text-align: center;
}

#container {
    height: 100%;
    overflow-y: scroll;
}

.notesBox {
    width: 100%;
	height: 100%;
}

#segmentTag {
    overflow-y: scroll;
}

#segmentQuote {
    overflow-y: scroll;
}

#buttonLoad {
    visibility:visible;
    float:left;
    margin-left: 10px;
}

#buttonSave {
    visibility:hidden;
    float:right;
    margin-right: 10px;
}

.sidebarFolder{
    font-size: 18px;
    color: #6FF;
}

.sidebarFile{
    font-size: 18px;
    color: #8FF;
}

.pathHeader{
    font-size: 18px;
    color: #6AF;
    font-weight: bold;
}

.pathActual{
    font-size: 18px;
    color: #8BF;
    font-weight: bold;
}

.loadNotice{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.segmentHeader{
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

.thirdHSegment {
    width: 33.3%;
    height:100%;
    float: left;
    display: inline-block;
}

.halfVSegment {
    width: 100%;
    height:50%;
}

.preview {
    margin: 30px 0 0;
    width: 100%;
    height: 65%;
}

.timeElementContainer {
	padding-bottom: 5px;
}

.timeElement {
    padding: 5px 0;
}

.inputText {
    width: calc(100% - 135px);
}

.inputTime {
    width: 35px;
}

.inputDesc{
    font-size: 12px;
    color: #111;
}

.isTimedCheckbox {
    margin-right: 10%;
}

.displayFile {
    margin: 10px 20px;
    width: calc(100% - 60px);
    background-color: #E4E4E4;
    display: inline-block;
    padding: 10px;
}

.halfContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.displayHalf {
    height: 100%;
    padding: 10px 0px 20px 0px;
    float: left;
    display: inline-block;
}

.displayHalf.Tag {
	width: calc(30% - 1px);
}

.displayHalf.Quote {
	width: calc(70% - 1px);
}

.displayFilename {
    font-size: 28px;
    font-weight: bold;
}

.displaySubheader {
    font-size: 22px;
    text-decoration: underline;
}

.displayText {
    font-size: 16px;
    color: #222;
}

.displayTimecode {
    font-size: 16px;
    color: #444;
    font-style: italic;
    text-decoration: none;
}

.textTimeEdit {
	font-size: 12px;
	color: #444;
	text-decoration: none;
	font-weight: bold;
}

.textTimeEditNoclick {
	font-size: 12px;
	color: #444;
	text-decoration: none;
}

.textTimeEditSeperator {
	width: 20px;
	display: inline-block;
}

.textTimeEditSingleChar {
	font-size: 20px;
	color: #444;
}

.editButton {
	float: right;
}

.exitEditButton {
	float: right;
